config/secrets/prod/prod.decrypt.private.php
/node_modules
/public_html/hot
/public_html/storage
/public_html/css
/public_html/js
/public_html/images
/public_html/fonts
/public_html/mix-manifest.json
/public_html/robots.txt
/resources/assets/js/ziggy.js
/storage/*.key
var/
vendor/
.vscode
.DS_Store
.env
.env.backup
.npmrc
.phpunit
.phpunit.result.cache
.phpstorm.meta.php
_ide_helper.php
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
